{% extends "events/base.html" %}
{% block content %}
<h1>Events</h1>
{% for event in event_list %}
<div class="card mb-4">
    <div class="card-header">
        {{event.name}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Venue: {{event.venue.name}}</h5>
        <p class="card-text"> Description: {{event.description}} </p>
        <ul>
            <li>Address: {{event.venue.address}} </li>
            <li>Pin code: {{event.venue.zip_code}} </li>
            <li>Contact: {{event.venue.phone}} </li>
            <li>Website: {{event.venue.web}} </li>
            <li>Email: {{event.venue.email_address}} </li>
            <li>Manager: {{event.manager}} </li>
            <li>Attendees:
                <ul>
                    {% for user in event.attendees.all %}
                    <li>{{user}} </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <a href="{% url 'update-event' event.id %}" title="" type="button" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="{% url 'delete-event' event.id %}" title="" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock content %}